#background{
    display: block;
    /*width: 410px;*/
    /*height: 56px;*/
    text-align: center;
    /*margin-left: 747px;*/
    margin-left: 37%;
    margin-right: 37%;
}
#header{
    display: flex;
    margin-top: -17px;
}
#icons{
    width: 13%;
    height: 44%;
    margin-left: -35px;
    margin-top: -20px;
}

#signIn{
    margin-left: 113px;
    margin-top: -19px;
}
#hr{
  margin-top:-46px
}
