.form-group {
    margin-bottom: 20px;
}

.form-group.top-10px {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px; /* Để tạo khoảng cách top */
}

.form-group {
    text-align: center; /* Để căn giữa nội dung */
}
/* Điều chỉnh kích thước của nút Register */
.btn-primary {
    font-size: 16px;
    padding: 10px 20px;
}

/* Điều chỉnh margin-top của nút Register */
.btn-primary.btn-block {
    margin-top: 20px;
}
.top-10px {
    margin-top: 15px; /* Điều chỉnh giá trị 10px tùy theo khoảng cách mong muốn */
}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border: 1px solid;
    /* border-top-left-radius: 0; */
    /* border-bottom-left-radius: 0; */
}
.with-margin {
    margin-left: 10px;
}
.mx-3.my-2.py-2.bordert {
    margin-left: auto;
    margin-right: auto;
}
.btn-block-center {
    text-align: center; /* Để căn giữa theo chiều ngang */
}

.btn-primary-center {
    display: inline-block; /* Để nút chỉ chiếm chiều rộng cần thiết */
    padding: 10px 20px; /* Điều chỉnh kích thước của nút */
    background-color: #00B98E; /* Màu nền */
    color: #fff; /* Màu chữ */
    border: none; /* Loại bỏ viền */
    border-radius: 5px; /* Bo góc */
    cursor: pointer; /* Đổi con trỏ khi di chuột qua nút */
    transition: background-color 0.3s ease; /* Hiệu ứng màu nền */
}

.btn-primary-center:hover {
    background-color: #20c997; /* Màu nền khi di chuột qua */
}
.black-bg[data-bs-theme="dark"] {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Căn nút Close về phía bên phải */
    margin-bottom: 20px; /* Tạo khoảng cách giữa phần tử chứa nút Close và form */
}

/* Định dạng cho nút Close */
.black-bg[data-bs-theme="dark"] {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Căn nút Close về phía bên trái */
    margin-bottom: 20px; /* Tạo khoảng cách giữa phần tử chứa nút Close và form */
}

/* Định dạng cho nút Close */
.close-link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
}

/* Định dạng cho form */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hiển thị bóng đổ nhẹ */
}

.card-title {
    color: #343a40;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da; /* Hiển thị đường viền dưới */
}

.form-control:focus {
    box-shadow: none; /* Loại bỏ bóng đổ khi input được focus */
    border-color: #007bff; /* Màu viền khi input được focus */
}