

/*Css cho table*/
.table-responsive {
    overflow-x: auto;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #343a40;
    color: #fff;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}

.table .table {
    background-color: #fff;
}

.table-sm th,
.table-sm td {
    padding: 0.3rem;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #dee2e6;
}

.table-bordered thead th,
.table-bordered thead td {
    border-bottom-width: 2px;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}


.navbar {
    width: 1430px;
    margin-left: 6px;
    padding: 10px; /* Tùy chỉnh padding của navbar */
    background-color: white;
}
.navbar-brand {
    font-size: 1.5rem;
    margin: auto;
    display: flex; /* Sử dụng flexbox để căn giữa */
    justify-content: center;
    align-items: center;
}

.form-inline{
    display: flex;
    justify-content: right;
    align-items: center;
}

.form-inline input,
.form-inline button {
    margin: 5px; /* Tạo khoảng cách giữa các phần tử */
}
.form-inline input{
    width: 50%;
    background-color: aliceblue;
}

/* Định dạng button khi được hover */
.btn-outline-success:hover {
    background-color: #28a745; /* Đổi màu nền khi hover */
    color: #fff; /* Đổi màu chữ khi hover */
}

/* Định dạng input khi focus */
.form-control:focus {
    border-color: #28a745; /* Đổi màu viền khi focus */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Hiển thị shadow khi focus */
}


/*change*/

body{margin-top:20px;
    background-color:#f2f6fc;
    color:#69707a;
}
.img-account-profile {
    height: 10rem;
}
.rounded-circle {
    border-radius: 50% !important;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-control, .dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}
#card-body{
    height: 301px;
}